.search-destination {
  width: 400px;
  height: 700px;
  right: 350px;
  top: 55px;
  background: var(--vt-c-white);
  box-shadow: 0px 8px 27px rgba(14, 63, 108, 0.19);
  border-radius: 12px;
  padding: 30px;
  position: absolute;
}

.search-destination p {
  font-weight: 500;
  font-size: 16px;
  line-height: 185%;
  color: var(--vt-c-black);
  margin-bottom: 0;
}

.search-destination h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 185%;
  color: var(--vt-c-black);
}

.search-destination .recently-searched {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--vt-c-blue);
}

.search-destination .transfer {
  width: 100%;
  height: 97px;
  background: var(--vt-c-white);
  box-shadow: 0px 8px 27px rgba(14, 63, 108, 0.19);
  border-radius: 12px;
  padding: 11px 20px;
  margin-top: 20px;
}

.search-destination .transfer span {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--vt-c-grey-15);
}

.search-destination .transfer h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: var(--vt-c-black);
  margin-bottom: 0;
}

.search-destination .transfer p {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: var(--vt-c-black);
}

.search-destination .ic-transfer {
  width: 17px;
  height: 17px;
}

.search-destination .btn-one-way {
  width: 100%;
  height: 44px;
  background: var(--vt-c-blue);
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: var(--vt-c-white);
  border: none;
}

.search-destination .btn-one-way img,
.search-destination .btn-round-trip img {
  height: 21px;
  margin-right: 12px;
}

.search-destination .btn-round-trip {
  width: 100%;
  height: 44px;
  background: #F0F0F0;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #595959;
  border: none;
}

.search-destination .departure p,
.search-destination .passenger p,
.search-destination .class p {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--vt-c-grey-10);
  margin-bottom: 11px;
}

.search-destination .departure .btn-departure,
.search-destination .passenger .btn-passenger {
  width: 100%;
  height: 55px;
  border: 1px solid #DDDDDD;
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: var(--vt-c-black);
  background-color: var(--vt-c-white);
  padding: 0px 21px;
  font-family: 'Lato', sans-serif;
}

.search-destination .class .form-check-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: var(--vt-c-black);
  font-family: 'Lato', sans-serif;
}

.search-destination .btn-search-flight {
  width: 100%;
  height: 57px;
  background: var(--vt-c-blue);
  box-shadow: 0px 8px 10px rgba(35, 149, 255, 0.3);
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var(--vt-c-white);
  border: none;
  padding: 0 36px;
}

.search-destination .btn-search-flight img {
  width: 24px;
}

@media screen and (max-width: 1356px) {
  .search-destination {
    top: 170px;
  }
}

@media screen and (max-width: 1020px) {
  .search-destination {
    /* top: 250px; */
    right: 250px;
  }
}

@media screen and (max-width: 800px) {
  .search-destination {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
  }
}