.navbar {
  padding: 50px 0 25px 0 !important;
}

.navbar h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  padding-left: 15px;
}

.navbar .nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150.8%;
}

.navbar .active {
  font-weight: 700;
  font-size: 16px;
  line-height: 150.8%;
  border-bottom: 5px solid var(--vt-c-blue);
}

.navbar .search {
  width: 250px;
  height: 50px;
  background: var(--vt-c-grey);
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--vt-c-grey-10);
  border: none;
  padding-left: 55px;
}

.navbar .search:focus {
  box-shadow: none;
  background: var(--vt-c-grey);
}

.navbar .icon-search {
  top: 12px;
  left: 15px;
}

.navbar .btn-sign-up {
  width: 150px;
  height: 50px;
  background: var(--vt-c-blue);
  box-shadow: 0px 8px 10px var(--vt-c-shadow-blue);
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--vt-c-white);
}

@media screen and (max-width: 990px) {
  .navbar .btn-sign-up {
    width: 100%;
  }

  .navbar form {
    margin: 20px 0px;
  }

  .navbar .search {
    width: 100%;
    margin: 0 !important;
  }

  .navbar .navbar-nav {
    gap: 20px !important;
  }
}