.parent {
  position: relative;
  height: 100vh;
}

.parent .jumbotron {
  margin-top: 50px;
}

.parent .jumbotron h1,
.parent .jumbotron .flight {
  font-weight: 600;
  font-size: 54px;
  line-height: 150%;
  margin-bottom: 0;
  margin-top: 50px;
}

.parent .jumbotron .flight {
  color: var(--vt-c-blue);
}

.parent .jumbotron p {
  font-weight: 400;
  font-size: 18px;
  line-height: 300%;
  color: var(--vt-c-grey-15);
}

.parent .jumbotron img {
  height: 500px;
}

.parent .jumbotron .gradient-image-left,
.parent .jumbotron .gradient-image-right {
  display: inline-block;
  position: relative;
}

.parent .jumbotron .gradient-image-left {
  width: 100%;
}

.parent .jumbotron .gradient-image-right::after,
.parent .jumbotron .gradient-image-left::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.81) 100%);
  border-bottom: 10px solid #FFFFFF;
}

.parent .jumbotron .gradient-image-left::after {
  border-right: 10px solid #FFFFFF;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 60px;
}

.parent .jumbotron .gradient-image-right::after {
  border-left: 10px solid #FFFFFF;
  border-bottom-left-radius: 60px;
  border-top-left-radius: 60px;
}

.parent .jumbotron .gradient-image-right .img-jumbotron-right,
.parent .jumbotron .gradient-image-left .img-jumbotron-left {
  display: block;
}

.parent .jumbotron .gradient-image-left .img-jumbotron-left {
  width: 100%;
  object-fit: cover;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 60px;
  margin-top: 90px;
}

.parent .jumbotron .il-jumbotron {
  width: 220.72px;
  height: 252.25px;
}

.parent .jumbotron-mobile {
  display: none;
}

.parent .trending {
  margin-top: 106px;
}

.parent .trending p {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.3em;
  color: var(--vt-c-blue);
  margin-bottom: 7px;
}

.parent .trending h6 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--vt-c-black);
}

.parent .trending span {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--vt-c-blue);
}

.parent .top-destination {
  width: 100%;
  height: 550px;
  background: var(--vt-c-blue);
  border-radius: 60px;
  margin-top: 150px;
}

.parent .top-destination p {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.3em;
  color: var(--vt-c-white);
}

.parent .top-destination h6 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--vt-c-white);
  margin-bottom: 50px;
}

.parent .top-destination .btn-arrow-left {
  width: 68px;
  height: 50px;
  border: 1px solid var(--vt-c-white);
  border-radius: 10px;
  background: none;
}

.parent .top-destination .btn-arrow-left img,
.parent .top-destination .btn-arrow-right img {
  width: 14px;
}

.parent .top-destination .btn-arrow-right {
  width: 68px;
  height: 50px;
  background: var(--vt-c-white);
  box-shadow: 0px 8px 10px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: none;
}

.parent .top-destination .il-plane {
  width: 500px;
}

@media screen and (max-width: 1020px) {
  .jumbotron-title {
    margin-left: 60px !important;
  }
}

@media screen and (max-width: 990px) {
  .parent .top-destination {
    height: 700px;
  }
}

@media screen and (max-width: 800px) {
  .parent .top-destination {
    height: 900px;
  }

  .parent .jumbotron-browser {
    display: none;
  }

  .parent .jumbotron-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 560px) {
  .parent .top-destination .il-plane {
    width: 450px;
  }
}

@media screen and (max-width: 480px) {
  .parent .top-destination .il-plane {
    width: 350px;
  }
}